
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0088a9;
    padding: 10px 20px;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.nav-item img.icono {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.nav-item:hover {
    background-color: #ffbf00;
    border-radius: 5px;
}


.hero {
    position: relative;
    text-align: center;
}

.background {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}


@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #0088a9;
    }

    .nav-links li {
        margin: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        display: flex;
    }

    .hero-text {
        font-size: 24px;
    }
}
